:root {
    --bg-black-900: #ffffff;
    --bg-black-100:  #edf1f4;
    --bg-black-50: #25374B;
    --text-black-900:#CCD0CF;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --black-filter-blur: blur(5px);
}


/* --------------------------------------
 Global Settings 
 ---------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 90vh;
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 35px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-attachment: fixed;
}

/* DARK THEME MODE */
body.dark {
    --bg-black-900:  #e9e9e9;;
    --bg-black-100: #ffffff;
    --bg-black-50: #393939;
    --text-black-900: #000000;
    --text-black-700: #000000;
}

body {
    box-sizing: none;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'poppins';
}


body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--cream);
    z-index: -1;
    opacity: 0.12;
}

body.hide-scrolling {
    overflow-y: hidden;
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: var(--skin-color);
}

a{
    text-decoration: none;
}


::before,
::after {
    box-sizing: border-box;
}


/* ========== Common Styling ============== */
ul {
    list-style: none;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.hidden {
    display: none !important;
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.text-color{
    color: var(--text-black-900);
}


/* ============ Aside Contanier ============= */
.aside {
    width: 300px;
    background-color: var(--bg-black-100);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}


.aside-social-media {
    position: absolute;
    bottom: 50px;
}

.aside-social-media h3 {
    font-size: 22px;
    text-transform: capitalize;
    margin-left: 5px;
    margin-bottom: 5px;
}

.aside-social-media .social-media-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--bg-black-50);
    border: 1px solid var(--white-alpha-40);
    color: var(--skin-color);
    font-size: 21px;
    border-radius: 50%;
    cursor: pointer;
    margin: 6px 4px 0 0;
    transition: all 0.3s ease;
}

.aside-social-media .social-media-links a:hover {
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
    transform: scale(1.05);
    /* transform: rotateY(90deg); */
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
}

.aside .logo a span {
    font-family: "Clicker Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: var(--skin-color);
}

.aside .logo a::before {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    position: absolute;
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 300px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
}

.aside .nav-toggler span::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
}

.aside .nav {
    margin-top: 0px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
}

.aside .nav li a i {
    margin-right: 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

/* ================ Main Content ===================== */
.section {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    opacity: 1;
    padding: 0 30px;
    display: block;
}

.main-content {
    padding-left: 300px;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

/* ============= Home Section Image ============== */
.home {
    height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-img img {
    height: 400px;
    margin: auto;
    border-radius: 5px;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img::after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: -20px;
    height: 80px;
    width: 80px;
    border-bottom: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
}

.home .home-img::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -20px;
    height: 80px;
    width: 80px;
    border-top: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello,
h3.my-profession {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: "Clicker Script", cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
}

/* ============== Button ================= */
.btn {
    font-weight: 500;
    font-size: 16px;
    padding: 12px 35px;
    background-color: var(--skin-color);
    color: white;
    border: 1px solid var(--bg-black-900);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: width 0.3s ease;
}


/* ================================================
      ABOUT SECTION
 ================================================ */

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--text-black-900);
}

.about .about-text h3 span {
    color: var(--skin-color);
}

.about .about-text p {
    font-size: 16px;
    line-height: 25px;
   
}

.about-text {
    width: 60%;
    padding: 0 15px;
}

.about-text h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}

.about-img {
    width: 40%;
    padding: 0 15px;
}

.about-text .skills {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 60%;
    max-width: 60%;
}

.about-text .skill-item {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}

.about-img .img-box {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
    max-width: 380px;
    margin: auto;

}

.about-img .img-box img {
    width: 100%;
}

/* ---------------------=== Education and Experienxe Container  Start ===----------------------------- */
.about-tabs{
    margin-top: 20px;
}

.about-tabs .tab-item {
    padding: 2px 0px;
    background-color: transparent;
    text-transform: capitalize;
    border: none;
    display: inline-block;
    font-size: 25px;
    color: var(--text-black-900);
    cursor: pointer;
    font-weight: 600;
    margin-right: 30px;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child {
    margin: 0;
}

.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1.3px;
    background-color: var(--white);
    transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
    width: 100px;
    cursor: pointer;
}

.about-tabs .tab-item.active {
    color: var(--skin-color);
    opacity: 1;
    cursor: all;
}

.about-text .timeline{
    position: relative;
}

.about-text .timeline .timeline-info::before {
    content: '';
    background-color:var(--skin-color);
    height: 100%;
    width: 1.5px;
    top: 0;
    left: 5px;
    position: absolute;
}

.about-text .tab-content {
    padding: 40px 0;
    display: none;
}

.about-text .tab-content.active {
    display: block;
}

.about-text .timeline-item {
    margin-bottom: 30px;
    padding: 10px 0 0 40px;
    position: relative;
}

.about-text .timeline-item::before {
    content: '';
    position: absolute;
    left: 0;
    background-color: var(--skin-color);
    height: 11px;
    width: 11px;
    top: 16px;
    border: 50%;
    border-radius: 50%;
}

.about-text .timeline-item:last-child {
    margin-bottom: 0;
}

.about-text .timeline-item .date {
    display: block;
    color: var(--text-black-900);
    font-weight: 400;
    margin: 0 0 10px;
}

.about-text .timeline-item h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
    color: var(--text-black-900);
}

.about-text .timeline-item h4 span {
    font-weight: 400;
}

.about-text .btn {
     margin: 0 15px 15px 0; 
}

.timeline .exp-nav {
   line-height: 30px;
   list-style:square;
   color: var(--text-black-900);
}

 .timeline-logo{
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom: 20px;

}
.timeline-logo .logo-info{
    flex: 0 0 90%;
    max-width: 90%;
}
.timeline-logo .logo{
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: -6%;
    margin-right: 30px;
    text-align: center;
}
 .timeline-logo .logo a img{
    width: 50px;
    height: auto;
    border: 1px solid var(--white-alpha-40);
    border-radius: 50%;
}

.see-more-link {
    color: var(--skin-color);
    cursor: pointer;
  }
/* ---------------------=== Education and Experienxe Container  End ===----------------------------- */


/* Inside About Skill Container */
.skills-container{
    flex: 0 0 100%;
    max-width: 100%;
}
.about{
    padding-bottom: 100px;
}

.tech-stack {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    white-space: nowrap; 
    flex: 0 0 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
}


.tech-stack .item {
    display: inline-flex; 
    align-items: center;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px;
    box-shadow: 10px 10px 10px rgba(14, 14, 16, 0.15);
}
.tech-stack .item img {
    width: 30px; 
    height: auto; 
}




/* =============== Service Section ==================== */
.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background-color: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #ffffff;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/* =============== Portfolio Section ================== */
.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
}

.portfolio .portfolio-item-inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img {
    height: 400px;
    width: 100%;
    display: block;
}

/* ==========================
    Contact Section 
 =================================== */
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form,
.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transform: all 0.3s ease;

}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}


/* ----------------------
Portfolio Section
------------------------------- */
.portfolio-section {
    padding-bottom: 50px;
}

.portfolio-item-thumbnail {
    padding: 10px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
}

.portfolio-item-thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.portfolio-item-details {
    display: none;
}

.portfolio-item {
    width: calc((100%/3) - 30px);
    margin: 0 15px 30px;
}

.portfolio-item h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}

/* ========================================
    Portfolio Item Details Popup 
    =============================================== */
.portfolio-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
    opacity: 1;
}

.portfolio-popup.open {
    visibility: visible;
    overflow-y: auto;
}

.portfolio-popup.open .pp-content {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}

.pp-inner {
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.pp-content {
    background-color: var(--white-alpha-25);
    padding: 30px;
    border-radius: 30px;
    max-width: 800px;
    width: 100%;
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--black-filter-blur);

}

.pp-header {
    position: relative;
}

.pp-header .btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    right: -40px;
}

.pp-thumbnail img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.pp-header h3 {
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0 15px;
}

.pp-body .description {
    margin-bottom: 30px;
}

.pp-body .general-info li {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.pp-body .general-info li span {
    font-weight: 300;
}

.pp-body .general-info li a {
    text-transform: lowercase;
    color: red;
}

/* ----======================= CERTIFICATES SECTION START ============================= */
.certificates{
    margin-left: 300px;
}
.certificates .image-container .certificate-img img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.certificate-img {
    padding: 10px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    padding: 5px;
}
/* ----======================= CERTIFICATES SECTION END ============================= */



/* ----------------------
Portfolio Section
------------------------------- */
.portfolio-section {
    padding-bottom: 50px;
}

.portfolio-item-thumbnail {
    padding: 10px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
}

.portfolio-item-thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.portfolio-item-details {
    display: none;
}

.portfolio-item {
    width: calc((100%/3) - 30px);
    margin: 0 15px 30px;
}

.portfolio-item h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}

/* ========================================
    Portfolio Item Details Popup 
    =============================================== */
.portfolio-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
}

.portfolio-popup.open {
    visibility: visible;
    overflow-y: auto;
}

.portfolio-popup.open .pp-content {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}

.pp-inner {
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp-content {
    background-color: var(--white-alpha-25);
    padding: 30px;
    border-radius: 30px;
    max-width: 800px;
    width: 100%;
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--black-filter-blur);

}

.pp-header {
    position: relative;
}

.pp-header .btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    right: -40px;
}

.pp-thumbnail img {
    border-radius: 10px;
}

.pp-header h3 {
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0 15px;
}

.pp-body .description {
    margin-bottom: 30px;
}

.pp-body .general-info li {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.pp-body .general-info li span {
    font-weight: 300;
}

.pp-body .general-info li a {
    text-transform: lowercase;
    color: red;
}

/* ===============================================================
     MEDIA QUERY 
===================================================================== */
@media(max-width:1199px) {
    .aside {
        left: -270px;
    }

    .main-content {
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media(max-width: 991px) {

    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media(max-width: 767px) {

    .contact .contact-info-item,
    .contact .contact-form .col-6,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}