* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;
    margin: 0;
    padding: 0;

}

#main-background-img-container {
    position: relative;
    height: 100vh;
}


#main-background-img-container::before {
    background-position: left;
    /*The content property is necessary for ::before and ::after pseudo-elements to be generated*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/rajia3.png');
    background-size:contain;
    /* or use a specific size like 80% auto */
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.9;
    background-color: black;
}

.main-text-container{
    position: absolute;
    bottom: 45%;
    left: 20%;
    color: white;
    padding: 20px;
}
.navbar .navbar-links a{
    text-decoration: none;
    color: white;
}
.navbar ul li{
    list-style: none;
}
.navbar ul {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 15px;
}
.main-text-container h1 a{
    text-align:center;
    text-decoration: none;
    color: aliceblue;
}