*{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.9;
}
body{
    background-color: rgb(8, 1, 1);
    color: aliceblue;
    margin: 0;
   padding: 0;
}

#body-background-content{
    width: 100vw;
    height: 100vh;
    background-image: url(img/rajia3.png);
    background-position: right;
    background-size:contain;
    background-repeat: no-repeat;
    backface-visibility: visible;
}
.body-info-links{
    display: flex;
    margin: 20px 0 40px;
}
.info-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.info-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.info-links.active-link::after{
    width: 50%;
}
.body-content  {
    display: none;
}

.body-content .active-tab {
    display: block;
}
.body-info-links {
    display: flex;
    margin: 20px 0 40px;
}
